<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/adicionarPedido.css">
    <title>Adicionar Pedido</title>
</head>
<body>
    <a href="/" class="botao-voltar">← Voltar</a> 
    <form action="/pedidos/adicionar" method="post">
        <label for="produto">Produto:</label>
        <select id="produto" name="idProduto" required>
            <option value="" disabled selected>Selecione um produto</option>
            <th:block th:each="produto : ${produtos}">
                <option th:value="${produto.idProduto}" th:text="${produto.nomeProduto}"></option>
            </th:block>
        </select>

        <label for="funcionario">Funcionário:</label>
        <select id="funcionario" name="idFuncionario" required>
            <option value="" disabled selected>Selecione um funcionário</option>
            <th:block th:each="funcionario : ${funcionarios}">
                <option th:value="${funcionario.idFuncionario}" th:text="${funcionario.nomeFuncionario}"></option>
            </th:block>
        </select>

        <label for="cliente">Cliente:</label>
        <select id="cliente" name="cpfCnpjCliente" required>
            <option value="" disabled selected>Selecione um cliente</option>
            <th:block th:each="cliente : ${clientes}">
                <option th:value="${cliente.cpfCnpjCliente}" th:text="${cliente.nomeCliente}"></option>
            </th:block>
        </select>

        <label for="quantidade">Quantidade:</label>
        <input id="quantidade" type="number" name="quantidade" min="1" required>

        <label for="precoUnitario">Preço Unitário:</label>
        <input id="precoUnitario" type="number" step="0.01" name="precoUnitario" min="0.01" required>

        <label for="codigoEntrega">Código de Entrega:</label>
        <input id="codigoEntrega" type="text" name="codigoEntrega" required>

        <button type="submit">Salvar Pedido</button>
    </form>
</body>
</html>
