<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Atribuir Chefe</title>
</head>
<body>
    <a href="/chefes" class="botao-voltar">← Voltar</a> 
    <h1>Atribuir Chefe a Funcionário</h1>

    <form th:action="@{/funcionarios/adicionarChefe}" method="post">
        <label for="funcionarioId">Funcionário:</label>
        <select id="funcionarioId" name="funcionarioId">
            <option th:each="f : ${funcionarios}" 
                    th:value="${f.idFuncionario}" 
                    th:text="${f.nomeFuncionario}">Funcionário</option>
        </select>

        <br><br>

        <label for="chefeId">Chefe:</label>
        <select id="chefeId" name="chefeId">
            <option value="">Sem chefe</option>
            <option th:each="c : ${funcionarios}" 
                    th:value="${c.idFuncionario}" 
                    th:text="${c.nomeFuncionario}">Chefe</option>
        </select>

        <br><br>

        <button type="submit">Salvar Hierarquia</button>
    </form>
</body>
</html>