<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Atendimentos</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/tabelas.css}">
</head>
<body>
    <a href="/inicio" class="botao-voltar">← Voltar</a> 
    <h1>Atendimentos</h1>
    <a href="/atendimentos/novo" class="btn">+ Adicionar Atendimento</a>
    <p></p>
    <table border="1">
        <tr>
            <th>Nome Cliente</th>
            <th>Nome Funcionário Administrativo</th>
            <th>Data do Atendimento</th>
            <th>Ações</th>
        </tr>
        <tr th:each="a : ${atendimentos}">
            <td th:text="${a.nomeCliente}"></td>
            <td th:text="${a.nomeFuncionario}"></td>
            <td th:text="${a.dataAtendimento}"></td>
            <td>
                <a th:href="@{'/atendimentos/deletar/' + ${a.cpfCliente} + '/' + ${a.idFuncionario}}" class="btn_excluir" onclick="return confirm('Tem certeza que deseja excluir este atendimento?');">Excluir</a>
            </td>
        </tr>        
    </table>
</body>
</html>