<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chefes e Funcionários</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/tabelas.css}">
</head>
<body>
    <a href="/inicio" class="botao-voltar">← Voltar</a> 
    <h1>Relação de Chefes</h1>
    <table border="1">
        <tr>
            <th>Nome</th>
            <th>Nome Chefe</th>
            <th>Ações</th>
        </tr>
        <tr th:each="f : ${funcionarios}">
            <td th:text="${f.nomeFuncionario}"></td>
            <td th:text="${f.nomeChefe}"></td>
            <td>
                <a class="btn" th:href="@{'/funcionarios/editarChefe/' + ${f.idFuncionario}}">Editar</a>
            </td>
        </tr>        
    </table>
</body>
</html>