<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Matéria-Prima</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/editarfuncionario.css}">
</head>
<body>

    <a href="/estoque" class="botao-voltar">← Voltar</a>

    <div class="container">
        <h1 style="text-align: center; color: #0074D9; margin-bottom: 2rem;">Editar Estoque da Matéria-Prima</h1>

        <form th:action="@{/estoque/materia-prima/atualizar}" method="post">
            <input type="hidden" name="idEstoqueMateriaPrima" th:value="${estoque.idEstoqueMateriaPrima}" />
            <input type="hidden" name="fkMateriaPrimaId" th:value="${materia.idMateriaPrima}" />

            <label>Matéria-Prima:</label>
            <input type="text" th:value="${materia.nomeMateriaPrima}" disabled />

            <label>Quantidade:</label>
            <input type="number" name="quantidadeMateriaPrima" th:value="${estoque.quantidadeMateriaPrima}" />

            <button type="submit">Salvar</button>
        </form>
    </div>

</body>
</html>
