<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Estoque Produto</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/editarfuncionario.css}">
</head>
<body>

    <a href="/estoque" class="botao-voltar">← Voltar</a>

    <div class="container">
        <h1 style="text-align: center; color: #0074D9; margin-bottom: 2rem;">
            Editar Estoque - <span th:text="${produto.nomeProduto}">Produto</span>
        </h1>

        <form th:action="@{/estoque/produto/atualizar}" method="post">
            <input type="hidden" name="idEstoqueProduto" th:value="${estoque.idEstoqueProduto}" />
            <input type="hidden" name="idProduto" th:value="${produto.idProduto}" />

            <label>Quantidade:</label>
            <input type="number" name="quantidadeProduto" th:value="${estoque.quantidadeProduto}" min="0" required />

            <button type="submit">Salvar</button>
        </form>
    </div>

</body>
</html>
