<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Funcionário</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/editarfuncionario.css}">
</head>
<body>
    <header>
        <h1 th:text="'Editando funcionário: ' + ${funcionario.nomeFuncionario}">Editando Funcionário</h1>
    </header>

    <a th:href="@{/funcionarios}" class="botao-voltar">← Voltar</a>

    <div class="container">
        <form th:action="@{/funcionarios/atualizar}" method="post">
            <input type="hidden" name="id" th:value="${funcionario.idFuncionario}"/>

            <label>Nome:</label>
            <input type="text" name="nome" th:value="${funcionario.nomeFuncionario}" required/><br/>

            <label>Salário:</label>
            <input type="number" step="0.01" name="salario" th:value="${funcionario.salarioFuncionario}" required/><br/>


            <label>Status:</label>
            <select name="empregado">
                <option th:value="true" th:selected="${funcionario.empregado}">Ativo</option>
                <option th:value="false" th:selected="${!funcionario.empregado}">Inativo</option>
            </select><br/>

            <label th:if="${funcionario.cargo != null}">Cargo/Função:</label>
            <input type="text" th:if="${funcionario.cargo != null}" name="cargo" th:value="${funcionario.cargo}" /><br/>

            <button type="submit">Salvar</button>
        </form>
    </div>
</body>
</html>