<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalhes do Endereço</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/editarfuncionario.css}">
</head>
<body>

    <a href="/enderecos" class="botao-voltar">← Voltar</a>

    <div class="container">
        <h1 style="text-align: center; color: #0074D9; margin-bottom: 1.5rem;">Detalhes do Endereço</h1>

        <ul style="list-style: none; padding-left: 0;">
            <li style="margin-bottom: 1rem;"><strong>ID:</strong> <span th:text="${endereco.idEndereco}"></span></li>
            <li style="margin-bottom: 1rem;"><strong>Estado:</strong> <span th:text="${endereco.estado}"></span></li>
            <li style="margin-bottom: 1rem;"><strong>Cidade:</strong> <span th:text="${endereco.cidade}"></span></li>
            <li style="margin-bottom: 1rem;"><strong>Bairro:</strong> <span th:text="${endereco.bairro}"></span></li>
            <li style="margin-bottom: 1rem;"><strong>Rua:</strong> <span th:text="${endereco.rua}"></span></li>
            <li style="margin-bottom: 1rem;"><strong>Complemento:</strong> <span th:text="${endereco.complemento}"></span></li>
            <li style="margin-bottom: 1rem;"><strong>Número:</strong> <span th:text="${endereco.numero}"></span></li>
        </ul>
    </div>

</body>
</html>
