<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Endereços</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/tabelas.css}">
</head>
<body>
    <a href="/" class="botao-voltar">← Voltar</a> 
    <h1>Endereços</h1>
    <div style="margin-bottom: 20px;">
        <a href="/enderecos/adicionar" class="btn">+ Adicionar Endereço</a>
    </div>
    <table border="1">
        <thead>
            <tr>
                <th>Estado</th>
                <th>Cidade</th>
                <th>Bairro</th>
                <th>Rua</th>
                <th>Número</th>
                <th>Complemento</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="e : ${enderecos}">
                <td th:text="${e.estado}"></td>
                <td th:text="${e.cidade}"></td>
                <td th:text="${e.bairro}"></td>
                <td th:text="${e.rua}"></td>
                <td th:text="${e.numero}"></td>
                <td th:text="${e.complemento}"></td>
                <td>
                    <a th:href="@{/enderecos/editar/{id}(id=${e.idEndereco})}" class="btn">Editar</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>