<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Estoque Matéria-Prima</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/tabelas.css}">
</head>
<body>
    <a href="/" class="botao-voltar">← Voltar</a> 
    <h1>Estoque de Matéria-Prima</h1>
    <table border="1">
        <tr>
            <th>Nome Matéria-Prima</th>
            <th>Quantidade</th>
        </tr>
        <tr th:each="item : ${estoque}">
            <td th:text="${item.materiaPrima.nomeMateriaPrima}"></td>
            <td th:text="${item.estoque.quantidadeMateriaPrima}"></td>
        </tr>
    </table>
</body>
</html>