<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Estoque</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/tabelas.css}">
</head>
<body>
    <a href="/" class="botao-voltar">← Voltar</a> 
    <h1>Estoque de Matéria-Prima</h1>
    <table border="1">
        <tr>
            <th>Nome Matéria-Prima</th>
            <th>Quantidade</th>
        </tr>
        <tr th:each="item : ${estoque}">
            <td th:text="${item.materiaPrima.nomeMateriaPrima}"></td>
            <td th:text="${item.estoque.quantidadeMateriaPrima}"></td>
        </tr>
    </table>

    <h1>Estoque de Produtos</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Nome Produto</th>
                <th>Quantidade</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="e : ${estoqueDetalhado}">
                <td th:text="${e.produto.nomeProduto}"></td>
                <td th:text="${e.estoque.quantidadeProduto}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>