<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Novo Fornecedor</title>
</head>
<body>
    <a href="/fornecedores">← Voltar</a>
    <h1>Cadastrar Novo Fornecedor</h1>
    <form th:action="@{/fornecedor/salvar-novo}" th:object="${fornecedor}" method="post">
        <label>CNPJ:</label>
        <input type="text" th:field="*{cnpjFornecedor}" required/><br/>

        <label>Nome:</label>
        <input type="text" th:field="*{nomeFornecedor}" required/><br/>

        <label>Telefone:</label>
        <input type="text" th:field="*{telefoneFornecedor}" required/><br/>

        <label>Email:</label>
        <input type="email" th:field="*{emailFornecedor}" required/><br/>

        <label>Endereço:</label>
        <select th:field="*{fkEnderecoId}" required>
            <option th:each="endereco : ${enderecos}"
                    th:value="${endereco.idEndereco}"
                    th:text="${endereco.rua + ', ' + endereco.numero}">
            </option>
        </select><br/>

        <button type="submit">Salvar</button>
    </form>
</body>
</html>