<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fornecedores</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/tabelas.css}">
</head>
<body>
    <a href="/" class="botao-voltar">← Voltar</a> 
    <h1>Lista de Fornecedores</h1>
    <a href="/fornecedor/novo">+ Adicionar Fornecedor</a>
    <table border="1">
        <tr>
            <th>CNPJ</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Email</th>
            <th>Endereço</th>
            <th>Ações</th>
        </tr>
        <tr th:each="fornecedor : ${fornecedores}">
            <td th:text="${fornecedor.cnpjFornecedor}"></td>
            <td th:text="${fornecedor.nomeFornecedor}"></td>
            <td th:text="${fornecedor.telefoneFornecedor}"></td>
            <td th:text="${fornecedor.emailFornecedor}"></td>
            <td>
                <a th:href="@{'/enderecos/' + ${fornecedor.fkEnderecoId}}" class="botao-endereco">
                    Ver Endereço
                </a>
            </td>
            <td>
                <a th:href="@{'/fornecedor/editar/' + ${fornecedor.cnpjFornecedor}}">Editar</a>
            </td>
        </tr>
    </table>
</body>
</html>