<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Funcionários</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/tabelas.css}">
</head>
<body>
<a href="/" class="botao-voltar">← Voltar</a> 
<h1>Funcionários Administrativos</h1>
<table>
    <thead>
    <tr>
        <th>Nome</th>
        <th>Salário</th>
        <th>Função</th>
        <th>Status</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="adm : ${administrativos}">
        <td th:text="${adm.nomeFuncionario}"></td>
        <td th:text="${#numbers.formatDecimal(adm.salarioFuncionario, 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${adm.cargoFuncionarioAdministrativo}"></td>
        <td th:classappend="${adm.empregado} ? 'status-ativo' : 'status-inativo'"
            th:text="${adm.empregado} ? 'Ativo' : 'Inativo'"></td>
        <td>
            <a class="btn" th:href="@{'/funcionarios/editar/' + ${adm.idFuncionario}}">Editar</a>
        </td>
    </tr>
    </tbody>
</table>

<h1>Funcionários Operacionais</h1>
<table>
    <thead>
    <tr>
        <th>Nome</th>
        <th>Salário</th>
        <th>Status</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="op : ${operacionais}">
        <td th:text="${op.nomeFuncionario}"></td>
        <td th:text="${#numbers.formatDecimal(op.salarioFuncionario, 1, 'COMMA', 2, 'POINT')}"></td>
        <td th:classappend="${op.empregado} ? 'status-ativo' : 'status-inativo'"
            th:text="${op.empregado} ? 'Ativo' : 'Inativo'"></td>
        <td>
            <a class="btn" th:href="@{'/funcionarios/editar/' + ${op.idFuncionario}}">Editar</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>