<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Matéria-Prima</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/tabelas.css}">
</head>
<body>
    <a href="/" class="botao-voltar">← Voltar</a> 
    <h1>Matéria-Prima</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Valor</th>
                <th>Código de Entrega</th>
                <th>Data Estimada Entrega</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="m : ${materias}">
                <td th:text="${m.nomeMateriaPrima}">Nome</td>
                <td th:text="${m.valorMateriaPrima}">Valor</td>
                <td th:text="${m.codigoEntregaMateriaPrima}">Código</td>
                <td th:text="${m.dataEstimadaEntregaMateriaPrima}">Data</td>
            </tr>
        </tbody>
    </table>
</body>
</html>