<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Matéria-Prima</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/tabelas.css}">
</head>
<body>
    <a href="/" class="botao-voltar">← Voltar</a> 
    <h1>Matéria-Prima</h1>

    <a href="/materia_prima/adicionar" class="botao-adicionar">+ Adicionar Matéria-Prima</a>

    <table border="1">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Valor</th>
                <th>Código de Entrega</th>
                <th>Data Estimada Entrega</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="m : ${materias}">
                <td th:text="${m.nomeMateriaPrima}"></td>
                <td th:text="${m.valorMateriaPrima}"></td>
                <td th:text="${m.codigoEntregaMateriaPrima}"></td>
                <td th:text="${m.dataEstimadaEntregaMateriaPrima}"></td>
                <td><a th:href="@{'/materia_prima/editar/' + ${m.idMateriaPrima}}">Editar</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
