<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Montagens</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/tabelas.css}">
</head>
<body>
    <a href="/" class="botao-voltar">← Voltar</a> 
    <h1>Montagens</h1>
    <div style="margin-bottom: 20px;">
        <a href="/montagens/adicionar" class="btn">+ Adicionar Montagem de Pedido</a>
    </div>
    <table border="1">
        <tr>
            <th>Funcionário Operacional</th>
            <th>Pedido</th>
        </tr>
        <tr th:each="m : ${montagens}">
            <td th:text="${m.funcionario.nomeFuncionario}"></td>
            <td>
                <a th:href="@{'/pedidos/' + ${m.pedido.idPedido}}" class="botao-endereco">Ver Pedido</a>
            </td>
        </tr>
    </table>
</body>
</html>