<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Pedidos</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/tabelas.css}">
</head>
<body>
    <a href="/inicio" class="botao-voltar">← Voltar</a> 
    
    <h1>Pedidos</h1>
    
    <div style="margin-bottom: 20px;">
        <a href="/pedidos/adicionar" class="btn btn-primary">+ Adicionar Pedido</a>
    </div>

    <div style="margin-bottom: 10px;">
        <a href="/pedidos/grafico" class="btn">Gráfico de Produtos</a>
    </div>

    <table border="1">
        <thead>
            <tr>
                <th>Data</th>
                <th>Código Entrega</th>
                <th>Quantidade</th>
                <th>Preço Unitário</th>
                <th>Nome Produto</th>
                <th>Nome Funcionário</th>
                <th>Cliente</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="detalhado : ${pedidosDetalhados}">
                <td th:text="${detalhado.pedido.dataPedido}"></td>
                <td th:text="${detalhado.pedido.codigoEntregaPedido}"></td>
                <td th:text="${detalhado.pedido.quantidadePedido}"></td>
                <td th:text="${detalhado.pedido.precoUnitarioPedido}"></td>
                <td th:text="${detalhado.produto.nomeProduto}"></td>
                <td th:text="${detalhado.funcionario.nomeFuncionario}"></td>
                <td th:text="${detalhado.pedido.cpfCnpjCliente}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>