<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pedido Detalhado</title>
    <link rel="stylesheet" href="/css/pedidoDetalhado.css">
</head>
<body>
    <a href="/montagens" class="botao-voltar">← Voltar</a> 

    <div class="container">
        <h1>Pedido</h1>
        <p th:text="'Data: ' + ${pedido.dataPedido}"></p>
        <p th:text="'Código de Entrega: ' + ${pedido.codigoEntregaPedido}"></p>
        <p th:text="'Quantidade: ' + ${pedido.quantidadePedido}"></p>
        <p th:text="'Preço Unitário: ' + ${pedido.precoUnitarioPedido}"></p>
        <p th:text="'Produto: ' + ${produto.nomeProduto}"></p>
        <p th:text="'Funcionário: ' + ${funcionario.nomeFuncionario}"></p>
        <p th:text="'CPF/CNPJ Cliente: ' + ${pedido.cpfCnpjCliente}"></p>
    </div>
</body>
</html>
