<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Produtos</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/tabelas.css}">
</head>
<body>
    <a href="/" class="botao-voltar">← Voltar</a> 
    <h1>Produtos</h1>

    <div style="margin-bottom: 20px;">
        <a href="/produtos/adicionar" class="btn">+ Adicionar Produto</a>
    </div>

    <table border="1">
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
        <tr th:each="produto : ${produtos}">
            <td th:text="${produto.nomeProduto}"></td>
            <td th:text="${produto.descricaoProduto}"></td>
            <td th:text="${produto.precoProduto}"></td>
            <td th:text="${produto.ativo ? 'Ativo' : 'Inativo'}"></td>
            <td>
                <a class="btn" th:href="@{/produtos/editar/{id}(id=${produto.idProduto})}">Editar</a>
            </td>
        </tr>
    </table>    
</body>
</html>