<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Solicitações</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/tabelas.css}">
</head>
<body>
    <a href="/" class="botao-voltar">← Voltar</a> 
    <h1>Solicitações</h1>

    <a th:href="@{/solicitacoes/nova}" class="botao-adicionar">+ Adicionar Solicitação</a>
    <table border="1">
        <tr>
            <th>Nome Fornecedor</th>
            <th>Nome Matéria-Prima</th>
            <th>Nome Func. Administrativo</th>
            <th>Data da Solicitação</th>
            <th>Ações</th>
        </tr>
        <tr th:each="s : ${solicitacoes}">
            <td th:text="${s.nomeFornecedor}"></td>
            <td th:text="${s.nomeMateriaPrima}"></td>
            <td th:text="${s.nomeFuncionarioAdministrativo}"></td>
            <td th:text="${s.dataSolicitacao}"></td>
            <td>
                <a th:href="@{/solicitacoes/editar(cnpj=${s.cnpjFornecedor}, idMateria=${s.idMateriaPrima}, idFunc=${s.idFuncionario})}" class="botao-editar">Editar</a>    
            </td>
        </tr>        
    </table>
</body>
</html>
