<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Solicitações</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/tabelas.css}">
</head>
<body>
    <a href="/" class="botao-voltar">← Voltar</a> 
    <h1>Solicitações</h1>
    <table border="1">
        <tr>
            <th>CNPJ Fornecedor</th>
            <th>Nome Matéria-Prima</th>
            <th>Nome Func. Administrativo</th>
            <th>Data da Solicitação</th>
        </tr>
        <tr th:each="s : ${solicitacoes}">
            <td th:text="${s.cnpjFornecedor}"></td>
            <td th:text="${s.nomeMateriaPrima}"></td>
            <td th:text="${s.nomeFuncionarioAdministrativo}"></td>
            <td th:text="${s.dataSolicitacao}"></td>
        </tr>        
    </table>
</body>
</html>